.up {
  margin-left: 1150px;
  margin-top: 20px;
  border: none;
  justify-content: space-between;
}
.home {
  color: orange;
}
/* .world {
  margin-left: 100px;
  margin-top: 60px;
  display: flex;
} */
.img {
  margin-left: 10px;
}

.span {
  color: tomato;
}
.first {
  margin-left: 200px;
}

.bannar {
  margin-left: 150px;
  margin-bottom: 180px;
  height: 600px;
  width: 1320px;
  background-image: url("../hero/Images/Group\ 13\ \(1\)\ \(1\).png ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 16px;
}
.banner-gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.points {
  width: 500px;
  justify-content: space-between;
  margin-left: 150px;
  margin-bottom: 180px;
  color: rgba(19, 19, 24, 0.7);

  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.points-part {
  display: flex;
  justify-content: space-between;
  width: 1480px;
}
.Read {
  background-color: orangered;
  color: white;
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 10px;
}
.destination {
  justify-content: center;
  text-align: center;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
