.up {
  margin-left: 1100px;
  margin-top: -40px;
  border: none;
  justify-content: space-between;
  border-radius: 0;
  background-color: #ffffff;
  display: inline-flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 44px;
}
.home {
  color: orange;
}
.world {
  margin-left: 250px;
  margin-top: -40px;

  color: #131318;

  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.img {
  margin-left: 150px;
}
.span {
  color: tomato;
  color: #ff5400;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.first {
  margin-left: 200px;
}

.bannar {
  margin-left: 150px;
  margin-bottom: 180px;
  height: 600px;
  width: 1320px;
  background-image: url("../hero/Images/Group\ 13\ \(1\)\ \(1\).png ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 16px;
}
.banner-gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (width <= 600px) {
  .banner-gradient {
    display: grid;
  }
}

.explore {
  color: #fff;

  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.travel_text {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.points {
  width: 500px;
  justify-content: space-between;
  margin-left: 150px;
  margin-bottom: 180px;
  color: rgba(19, 19, 24, 0.7);

  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.points-part {
  display: flex;
  justify-content: space-between;
  width: 1480px;
}
@media screen and (width <= 600px) {
  .points-part {
    display: grid;
  }
}
.Read {
  background-color: orangered;
  color: white;
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 10px;
}
@media screen and (width <= 600px) {
  .Read {
    display: grid;
  }
}

.destination {
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.862);
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 50px;
  margin-top: -80px;
}
.destination_text {
  margin-top: 20px;
}
.vertical-collage {
  margin-left: 250px;
}
.three_img {
  margin-left: 250px;
}
.two_img {
  margin-left: 250px;
}
.why {
  text-align: center;
  color: #131318;

  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 100px;
}
.choose {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 50px;
  margin-top: 50px;
}
.hotel {
  margin-left: 200px;

  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);

  background: rgba(251, 181, 99, 0.05);
}
.map {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);

  background: rgba(41, 206, 246, 0.05);
  margin-right: 200px;
}
.Image {
  display: flex;
}
@media screen and (width <= 600px) {
  .Image {
    display: grid;
  }
}
.hotel_map {
  display: flex;
}
@media screen and (width <= 600px) {
  .hotel_map {
    display: grid;
  }
}
.price_tag {
  text-align: center;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);

  background: rgba(233, 68, 68, 0.05);
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  margin-left: 550px;
}
@media screen and (width <= 600px) {
  .price_tag {
    display: grid;
  }
}

.deals {
  text-align: center;
  color: #131318;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.discounts {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.frame {
  /* display: inline-flex; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sat {
  margin-top: -20px;
}
.day {
  color: #5a5a5d;

  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.satorini {
  margin-left: 150px;
  margin-bottom: 180px;
  height: 600px;
  width: 1320px;
  background-image: url(../hero/Images/Group\ 39.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 16px;
  margin-top: 100px;
}
.satorini-gradient {
  width: 50%;
  height: 50%;
  border-radius: 16px;
  border: 2px solid #fff;

  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(2.5px);
  margin-left: 600px;
  margin-top: 20px;
  color: black;
}

.text1 {
  color: #5a5a5d;

  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.satorini1 {
  margin-left: 150px;
  margin-bottom: 180px;
  height: 600px;
  width: 1320px;
  background-image: url(../hero/Images/Group\ 40.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 16px;
}
.satorini1-gradient {
  width: 50%;
  height: 50%;
  border-radius: 16px;
  border: 2px solid #fff;

  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(2.5px);
  margin-left: 50px;
  margin-top: 20px;
  color: black;
}

.text2 {
  color: #5a5a5d;

  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.satorini2 {
  margin-left: 150px;
  margin-bottom: 180px;
  height: 600px;
  width: 1320px;
  background-image: url(../hero/Images/Group\ 39.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 16px;
}
.satorini2-gradient {
  width: 50%;
  height: 50%;
  border-radius: 16px;
  border: 2px solid #fff;

  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(2.5px);
  margin-left: 600px;
  margin-top: 20px;
  color: black;
}

.text3 {
  color: #5a5a5d;

  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.button_package {
  color: #fff;

  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 8px;
  background: #ff5400;
  width: 210px;
  height: 52px;
  flex-shrink: 0;
  margin-left: 700px;
}
@media screen and (width <= 600px) {
  .button_package {
    display: grid;
  }
}
.place_offer {
  display: grid;
}
.button {
  background-color: orangered;
  color: white;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
}
@media screen and (width <= 600px) {
  .button {
    display: grid;
  }
}
.package_button {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
@media screen and (width <= 600px) {
  .package_button {
    display: grid;
  }
}
.orange {
  color: orangered;

  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.see {
  color: orangered;

  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-top: 90px;
  flex-shrink: 0;
}
@media screen and (width <= 600px) {
  .see {
    display: grid;
  }
}

.simple {
  width: 500px;
  justify-content: space-between;
  margin-left: 100px;
  margin-bottom: 180px;
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.901);

  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.simple_video {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
@media screen and (width <= 600px) {
  .simple_video {
    display: grid;
  }
}

.simple_text {
  width: 448px;
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 150% */
  margin-top: -100px;
}
.see_more {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 15px;
}
.newsletter {
  width: 580px;
  height: 420px;
  flex-shrink: 0;
  margin-left: 150px;
  border-radius: 20px;
  border: 1px solid #ff5400;
  color: #131318;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: ;
}
@media screen and (width <= 600px) {
  .newsletter {
    display: grid;
  }
}

.rec {
  margin-left: 900px;
  margin-top: -470px;
  width: 500px;
  height: 422px;
}
.logo {
  width: 1600px;
  height: 502px;
  flex-shrink: 0;
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
  margin-top: 70px;
  align-items: center;
  margin-left: 15px;
}
.img2 {
  margin-left: -100px;
  margin-top: 20px;
}
.msg {
  align-items: center;
  color: #5a5a5d;
  margin-top: 50px;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}
.social {
  margin-top: 100px;
}
.rights {
  margin-top: 150px;
}
.parent {
  position: relative;
}
.child {
  position: absolute;
  width: 324px;
  height: 120px;
  transform: rotate(-10.628deg);
  flex-shrink: 0;
  border-radius: 16px;
  background: #ff5400;
  margin-left: 1050px;
  margin-bottom: -800px;
  margin-top: -200px;
  color: #fff;

  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (width <= 600px) {
  .child {
    display: grid;
  }
}
.newsletter-input {
  display: grid;
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
}
@media screen and (width <= 600px) {
  .newsletter-input {
    display: grid;
  }
}
.inputfield {
  background-color: #ff5400;
  color: white;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 20px;
  margin-top: 5px;
}
/* .inputfield1 {
  background-color: #ff5400;
  color: white;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 20px;
  margin-top: 5px;
} */
.wrapper {
  padding: 50px;
}
